<ul>
  <% @listings.each do |listing| %>
    <li id="<%= listing.id %>">
      <a href="/listings/view/<%= listing.id %>">  <%= listing.title%> </a> <br>
      <%= listing.description%> <br>
      <%= listing.price%> <br>
      <form action="/booking" method="get">
        <input type="submit" value="Request to book"/>
      </form>
    </li>
  <% end %>
</ul>
