<ul>
  <% @listings.each do |listing| %>
    <li>
      <%= listing.id %> <br>
    <a href="/listings/view/<%= listing.id %>">  <%= listing.title%> </a> <br>
      <%= listing.description%> <br>
      <%= listing.price%> <br>
    </li>
  <% end %>
</ul>
