<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= @user.username%></h1>
    <h2>Requests made</h2>
    <ul>
    <% @my_requests.each do |booking|%>
      <li>
        <% listing = Listing.find(id: booking.listing_id) %>
          <%= listing.title %>, <%= booking.find_date %>, Request pending
      </li>
    <% end %>
    </ul><br><br>
    <h2>Requests I have received</h2>
    <ul>
    <% @received_requests.each do |booking|%>
      <li>
        <% listing = Listing.find(id: booking.listing_id) %>
          <%= listing.title %>, <%= booking.find_date %>, Request pending
      </li>
    <% end %>
    </ul>
    <form action="/logout" method="post">
        <input type="submit" value="Log out" />
    </form>
</body>
</html>
